<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket Form</title>
</head>
<body>

<h2>Ticket Form</h2>

<form class="ui form" method="post">


    <div class="field">
        <label>User</label>
        <select name="userId" required>
            <option value="" disabled selected>Select a user...</option>
            {{#users}}
                <option value="{{userId}}">{{username}}</option>
            {{/users}}
        </select>
    </div>

    <div class="field">
        <label>Movie</label>
        <select name="movieId" required>
            <option value="" disabled selected>Select a movie...</option>
            {{#movies}}
                <option value="{{id}}">{{movieName}}</option>
            {{/movies}}
        </select>
    </div>

  <div class="field">
    <label>Show Time</label>
    <input type="text" name="showTime" placeholder="Show Time (YYYY-MM-DD HH:MM)">
  </div>

  <button class="ui button" type="submit">Submit</button>

</form>

</body>
</html>
