<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickets Form</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav class="navbar">
    <div class="nav-content">
        <!-- Clicking the logo returns home -->
        <a href="/" class="nav-logo">ReelTalk</a>

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/movies">Movies</a>
            <a href="/reviews">Reviews</a>
            <a href="/users">Users</a>
            <a href="/tickets">Tickets</a>
        </div>
    </div>
</nav>

<div class="header-container">
    <h2>Add a Ticket</h2>
    <div class="subtitle">Add a booking</div>
</div>

<div class="content-card">
    <form method="post">
        <div class="field">
            <label>User</label>
            <select name="userId" required>
                <option value="" disabled selected>Select a user...</option>
                {{#users}}
                    <option value="{{userId}}">{{username}}</option>
                {{/users}}
            </select>
        </div>

        <div class="field">
            <label>Movie</label>
            <select name="movieId" required>
                <option value="" disabled selected>Select a movie...</option>
                {{#movies}}
                    <option value="{{id}}">{{movieName}}</option>
                {{/movies}}
            </select>
        </div>

        <div class="field">
            <label>Show Time</label>
            <input type="text" name="showTime" placeholder="Show Time (YYYY-MM-DD HH:MM)">
        </div>

        <button class="btn-pill" type="submit" style="width: 100%;">Submit Ticket</button>

    </form>
</div>
<a href="/tickets" class="btn-pill btn-secondary">Back to Tickets</a>
</body>
</html>
