<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Form</title>
</head>
<body>
<h2>Review Form</h2>
<form class="ui form" method="post">
    <div class="field">
        <label>Movie Name</label>
        <input type="text" name="movieName" placeholder="Movie Name">
    </div>
    <div class="field">
        <label>Release Year</label>
        <input type="number" name="releaseYear" placeholder="Release Year">
    </div>
    <div class="field">
        <label>Director</label>
        <input type="text" name="director" placeholder="Director">
    </div>
    <div class="field">
        <label>Rating (/10)</label>
        <input type="number" step="any" name="rating" placeholder="Rating">
    </div>
    <div class="field">
        <label>Lead Actor</label>
        <input type="text" name="leadActor" placeholder="Lead Actor">
    </div>
    <div class="field">
        <label>Genre</label>
        <input type="text" name="genre" placeholder="Genre">
    </div>
    <div class="field">
        <label>Description</label>
        <input type="text" name="description" placeholder="Description">
    </div>
    <button class="ui button" type="submit">Submit</button>
</form>
</body>
</html>