<h2>Add Ticket</h2>

<form action="/tickets/add" method="post">

<label>ID</label>
<input type="number" name="id">

<label>Showtime</label>
<input type="text" name="showTime">

<button type="submit">Add Ticket</button>
</form>

<a href="/">Home</a>
