<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>
<body>
<h2>Movie Table</h2>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Movie Name</th>
        <th>Release Year</th>
        <th>Director</th>
        <th>IMDB Rating (/10)</th>
        <th>Lead Actor</th>
        <th>Genre</th>
        <th>Description</th>
    </tr>
    <!--Loop in a table-->
    {{#movieList}}
        <tr>
            <td>{{id}}</td>
            <td>{{movieName}}</td>
            <td>{{releaseYear}}</td>
            <td>{{director}}</td>
            <td>{{rating}}</td>
            <td>{{leadActor}}</td>
            <td>{{genre}}</td>
            <td>{{description}}</td>
        </tr>
    {{/movieList}}
</table>
<a href="movies/add">Add another movie.</a>
</body>
</html>