<h2>Tickets</h2>

<table>
<tr>
<th>ID</th>
<th>User</th>
<th>Movie</th>
<th>Showtime</th>
</tr>

{{#tickets}}
<tr>
<td>{{id}}</td>
<td>{{user.name}}</td>
<td>{{movie.title}}</td>
<td>{{showTime}}</td>
</tr>
{{/tickets}}

</table>

<a href="/">Home</a>
