<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav class="navbar">
    <div class="nav-content">
        <!-- Clicking the logo returns home -->
        <a href="/" class="nav-logo">ReelTalk</a>

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/movies">Movies</a>
            <a href="/reviews">Reviews</a>
            <a href="/users">Users</a>
            <a href="/tickets">Tickets</a>
        </div>
    </div>
</nav>

<div class="header-container">
   <h2>User Table</h2>
   <div class="subtitle">Users</div>
</div>

<table border="1">
    <tr>
        <th>User ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Age</th>
        <th>Bio</th>
    </tr>
    {{#users}}
        <tr>
            <td>{{userId}}</td>
            <td>{{username}}</td>
            <td>{{email}}</td>
            <td>{{age}}</td>
            <td>{{bio}}</td>

        </tr>
    {{/users}}

</table>

<a href="/user/add" class="btn-pill" style="margin-top: 2rem;">Add New User</a>

</body>
</html>
